@import "../../styles/mixins";

.navbar {
  .theme-toggle {
    margin-right: 20px;
  }

  .retail-name {
    text-transform: capitalize !important;
    font-size: 2.5rem !important;
    border: 0 !important;
  }

  .navbar-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .burger-menu {
    @media #{$min1200} {
      display: none;
    }
  }

  .arrow-icon {
    margin: 0 auto 0 3rem !important;
  }

  .settings-icon {
    margin-right: 3rem !important;
  }

  .clear-search {
    margin-left: 1rem !important;
  }

  .form {
    width: 100%;
  }
}