@import "../../styles/mixins";

.navbar {
  .theme-toggle {
    margin-right: 20px;
  }

  .navbar-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .burger-menu {
    @media #{$min1200} {
      display: none;
    }
  }

  .arrow-icon {
    margin: 0 auto 0 30px !important;
  }
}