@import "src/styles/mixins";

.product-table-rows {
  &__wrapper {
    position: relative !important;
    height: calc(100% - calc(#{$navbar-height} - 24px)) !important;
    border: 0 !important;
  }

  &__scroll {
    overflow: auto;
  }
}

table {
  thead {
    tr {
      :nth-child(2) {
        width: toRem(200px);
      }
      :nth-child(6) {
        width: toRem(85px);
      }
    }
    @media #{$max767} {
      display: none !important;
    }
  }
  tbody {
    tr {
      @media #{$max767} {
        padding: 0 !important;
        text-align: center;

        .inverted & {
          border-bottom: toRem(1px) solid #313C4E !important;
        }
      }
    }
  }
}