@import './styles/mixins';

body {
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-content {
      transition: .3s background-color ease-in-out;
      background-color: #fbfcfd;
      padding: toRem(30px);
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: auto;

      @media #{$max1199} {
        padding: toRem(15px);
      }
      &.inverted {
        background-color: #2B3648;
      }
    }
  }
}
