@import 'mixins';

.ui {
  &.tab {
    padding: 0;
  }

  &.menu {
    border-radius: 0;
    margin: 0;
    box-shadow: 0 toRem(1px) toRem(10px) 0 rgba(34,36,38,.15);
    border-color: #eeeeee;
    height: toRem($navbar-height);
    z-index: 1;
    align-items: center;

    @media #{$max1199} {
      min-height: toRem(56px) !important;
    }
    .item {
      &::before {
        display: none;
      }
      &.right {
        justify-content: flex-end;
        padding-right: toRem(30px) !important;
      }
    }
  }

  &.card {
    border: toRem(1px) solid #ebebeb;
    box-shadow: initial !important;
    margin: 0;
    transition: width .5s ease-in-out,
                box-shadow .2s ease-in-out;
    .content {
      transition: padding .2s ease-in-out;
      padding: toRem(30px);

      @media #{$max1199} {
        padding: toRem(20px);
      }
      .header {
        font-size: toRem(48px) !important;
        color: #000000;
      }
      .description {
        color: #666666;
        font-size: toRem(18px);
      }
      &.extra {
        padding-top: 0;
        border-top: initial !important;
      }
    }
    &:hover {
      box-shadow: 0 toRem(1px) toRem(10px) 0 rgba(34,36,38,.15);
    }
  }

  &.button {
    font-size: toRem(15px);

    &.primary {
      background-color: #dbeefd;
      color: #2196f3;

      &:hover, &:active, &:focus {
        background-color: #2196f3;
        color: #dbeefd;
      }
    }
  }
  
  &.input {
    input {
      background-color: #f5f5f5 !important;
      border-radius: toRem(30px);
      color: #000000 !important;
      border: initial;
    }
  }
}