@import "../../styles/mixins";

.details-page {
  height: calc(100% - #{$navbar-height});
  padding: 15px 15px 0 15px;

  &__grid {
    height: 100%;

    .row {
      height: 100%;
      padding-bottom: 0 !important;
    }

    &--left-column {
      height: 100%;
    }
  }

  &__price-graph {
    height: 50%;
  }

  &__product-table {
    margin-top: 15px !important;
    height: calc(50% - 15px);

    div {
      height: 100%;
    }

    .menu {
      height: 40px !important;
    }
  }

  &__filters {
    height: 100%;

    @media #{$max1199} {
      display: none !important;
    }
  }
}