@import '../../mixins';

.main-content {
  padding: toRem(30px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media #{$max1199} {
    padding: toRem(15px);
  }
  .cards-wrap {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    .card {
      min-width: toRem(300px);
      width: toRem(300px);
      height: toRem(300px);
      margin: 0 toRem(15px) !important;

      @media #{$max1199} {
        width: 100%;
        min-width: 100%;
      }
    }
    @media #{$max1199} {
      flex-direction: column;

      .card {
        margin: 0 0 toRem(10px) 0 !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}